table {
  font-family: sans-serif;
  font-size: 12px;
}

#navBar {
  z-index: 1;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #e7e7e7 !important;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 10px;
}

#navBar a {
  display: block;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 260px;
    height: 40px;*/
}

#navBar a:hover {
  color: white;
  background: #b9b9b9;
  text-decoration: none;
}

#navBar a.selected {
  color: white;
  background: #b9b9b9;
  text-decoration: none;
}


.estilo-icono {
  FONT-SIZE: 64;
  BACKGROUND: GOLD;
}

.borde-ejemplo {
  border-style: solid;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




body {
  text-align: left;
  /* para IE6 */
}

#banner {
  width: 160px;
  /* el ancho del banner */
  float: center;
  /* mandarlo a la derecha */
}

#content {
  width: 760px;
  /* el ancho del contenido */
  margin: 0px auto;
  /* centrar el contenido en la página */
  text-align: left;
  /* para IE6 */
}


.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 90%;
  height: 12px;
  margin: 0.5rem;
}

.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}