/* quita el formato que viene por defecto*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(https://github.com/monicador/auditplus/blob/118b32f36755ca4c56c0ebd61bccaf82e69cff3b/02.%20Website/Website%20audit+V1.2/imagenes/logo%20(1).png);
    background-size: cover;
    background-attachment: fixed; /* para qque quede estatico*/
    font-family: Roboto;
}

/* contenedor del  rectangulo de inicio de sesion */
.contenedor-form {
    background: rgba(69, 87, 148, 0.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: rgb(2, 12, 12);
    position: relative;    
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 14px; /* crear cuenta*/
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #eeeae6;
    border-bottom: 2px solid #eeeae6;
    cursor: pointer;
    transition: all .5s ease; /*para que cuando pase el mouse cambie el color*/
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #180f7c;  /*transicion d elas lineas de crear cuenta*/
    border-bottom: 2px solid #180f7c;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

/* de crea tu cuenta */
.contenedor-form h2 { 
    margin: 0 0 28px 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,055,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #180f7c;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 18px;
    font-weight:normal;
    transition: all .5s ease;
}

/*animacion para que cambie de color de la linea debajo del texto al pasar el mosue por el contenedor*/
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #12098d;
}

.contenedor-form input[type="submit"] {
    background: #2e0fdf;
    color: rgb(177, 225, 237);
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease; 
}

.contenedor-form input[type="submit"]:hover {
    background: rgba(104, 178, 243, 0.7);
}
/*
.contenedor-form .reset-password {
    background: rgba(44, 41, 235, 0.7);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*
.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}*/

.contenedor-form .formulario {
    display: none; /*oculta el formulario*/
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block; /* oculta el formulario de crear cuenta*/
}